require "download_strategy"

class KlothoDownloadStrategy < CurlDownloadStrategy
  def initialize(url, name, version, **meta)
    super
  end

  def parse_basename(url, search_query: true)
    # automatically rename the downloaded binary to klotho since the server doesn't provide a filename
    "klotho"
  end
end
class
  {{FORMULA_NAME}} < Formula
  desc ""
  homepage "https://klo.dev"
  license ""
  version "{{VERSION}}"

  depends_on "pulumi"

  def install
    bin.install "klotho"
  end

  on_macos do
    on_arm do
      url "http://srv.klo.dev/update/latest/darwin/arm64?stream=pro:v{{VERSION}}", :using => KlothoDownloadStrategy
      sha256 "{{MACOS_ARM_SHA256}}"
    end
    on_intel do
      url "http://srv.klo.dev/update/latest/darwin/x86_64?stream=pro:v{{VERSION}}", :using => KlothoDownloadStrategy
      sha256 "{{MACOS_INTEL_SHA256}}"
    end
  end

  on_linux do
    on_intel do
      url "http://srv.klo.dev/update/latest/linux/x86_64?stream=pro:v{{VERSION}}", :using => KlothoDownloadStrategy
      sha256 "{{LINUX_INTEL_SHA256}}"
    end
  end

  test do
    system "klotho", "--version"
  end
end
